html, body {
    background-color: black;
    color: white;
}

.chai-color {
    color:rgba(206, 103, 14, 0.719)
}

#chai-border {
    border: double;
}

.indent-right {
    text-indent: 5%;
}

.subsection {
    text-shadow: 2px 2px rgba(255, 255, 255, 0.719)
}

.subsection.header {
    background-color: antiquewhite;
}